body{
    margin:0px;
}



.container{
    width:800px;
    margin:auto;
    
}

.containerPresentation{
    width:1150px;
    margin:auto;   
    padding:35px 0px 90px 0px;

    nav{
        display:inline;
    }

    .containerPresentationLogoEtNav{
        display:flex;
        justify-content:space-between;
        h2{
            margin:0px;
        }
        nav{
            display:flex;
            gap:30px;
        }
    }
}

header{

    padding-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right:50px;

    h3{
           display:inline-block;
           color:white;
           margin:0px;
    }
    nav{
        display:flex;
        gap:30px;
        a{
            font-family:'Epilogue';
            font-weight:600;
            font-style:normal;
            color:white;
            font-size:17px;
            
        }
        
    }

    
}


    .fondNoir{
        background-color: black;
        h2{
            color:white;
        }
        h3{
            color:white;
        }
        a{
            color:white;
        }

    }

.realisationsContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.projetContainer{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;

    .blocProjet{
        width:200px;
        img{
            width:100%;
        }
    }
}

/*Centre les services*/
.servicesContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:50px 0px;


        /*Aligne les services*/
    .blocServicesContainer{
        display:flex;
        /*Engloble chaque service*/
        .blocServices{
            display:flex;
            flex-direction:column;
            align-items:center;
            width:300px;
            height:300px;
            img{
                width:30%
            }
            p{
                width:250px;
            }
        }
    }
}






.logosContainer{

    height:200px;
    display:flex;
    align-items:center;
    justify-content:space-around;


}

.divEtImgContainer{
                display:flex;
                justify-content:space-between;

                
                .coteGaucheAvantImg{
                display:flex;
                flex-direction:column;

                width:400px;
                h3{
                    color:white;
                }
                h1{
                    color:white;
                }
                p{
                    color:white;
                }

                a.bouton{
                    display:inline-block;
                    padding:10px;
                    background-color:white;
                    width:160px;
                    color:black;
                    text-align:center;
                    font-family:'Epilogue';
                    font-weight:600;
                    font-size:17px;
                }
                }
}

.temoignagesClientsContainer{
    display:flex;
    flex-direction: column;
    align-items:center;

    
}

.blocsTemoignagesClientsContainer{
    display:flex;
    flex-wrap:wrap;
}

.blocTemoignageClient{
    background-color: rgb(192, 192, 216);
    width:200px;
    padding:10px;

    .visageEtDivColonneContainer{
        display:flex;
    }
    .visageTemoin{
        width:35px;
        padding-right:10px;
        img{
            width:100%;
            border-radius:100%;
            display:inline;
    
    }
    }
    .divPourColonne{
        display:inline;
        display:flex;
        flex-direction:column;
        width:150px;
        .typeEntreprise{
            margin:0px;
        }

        h3{
            margin:0px;
        }
        
            .note{
               
                display:inline;
                img{
                    width:11%;
                
                }
            }
    }



}